<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016 OBiBa. All rights reserved.
  ~
  ~ This program and the accompanying materials
  ~ are made available under the terms of the GNU Public License v3.0.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>

  <!--<evaluator name="variableBuilder">-->
  <!--<expression>logger.contains("org.obiba.magma.Variable")</expression>-->
  <!--</evaluator>-->

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger:%line - %message%n</pattern>
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger:%line - %message%n%caller{10, variableBuilder}</pattern>-->
    </encoder>
  </appender>

  <!--<logger name="org.obiba.magma" level="debug"/>-->

  <root level="info">
    <appender-ref ref="console"/>
  </root>

</configuration>